@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
.sub-heading1,
.sub-heading2 {
  font-family: "Bellefair", serif;
  color: #ffffff;
}

.h5,
.nav-text {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 150pt;
}

h2 {
  font-size: 100pt;
}

h3 {
  font-size: 56pt;
}

h4 {
  font-size: 32pt;
}

h5 {
  font-size: 28pt;
  letter-spacing: 4.75;
  color: #d0d6f9;
}

.sub-heading1 {
  font-size: 28pt;
}

.sub-heading2 {
  font-size: 14pt;
  letter-spacing: 2.35;
}

.nav-text {
  font-size: 16pt;
  letter-spacing: 2.7;
  text-decoration: none;
  color: #ffffff;
}
